{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Tickets{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if tickets %}
        <ul class="">
            {% for ticket in tickets %}
                <li class="space-x-1 bg-orange-100 py-2 rounded my-1 first:pt-0 last:pb-0">
                    <div></div>
                    <div>
                        <p class="font-bold">{{ ticket.origem_nome }} -> {{ ticket.destino_nome }}</p>
                        <p>{{ ticket.partida }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Infelizmente, não há tickets em seu nome.</p>
    {% endif %}
{% endblock %}