{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}ADM - Cidades{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if cidades %}
        <ul>
            {% for cidade in cidades %}
                <li><a href="{{ url_for('adm.index_cidades') }}">{{ cidade.nome }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Infelizmente, não há cidades a serem exibidas.</p>
    {% endif %}
    <a href="{{ url_for('adm.criar_cidade') }}">Adicionar Cidade</a>
{% endblock %}